<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value>True</value>
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings><add name="SistemaDeGerenciamento2_0ConnectionString" connectionString="XpoProvider=MSSqlServer;data source=ISRAEL\SQLEXPRESS;integrated security=SSPI;initial catalog=SistemaDeGerenciamento2_0" />
 <add name="SistemaDeGerenciamento2_0Entities" connectionString="metadata=res://*/ModelPrincipal.csdl|res://*/ModelPrincipal.ssdl|res://*/ModelPrincipal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>