<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value>True</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
      <add name="SistemaDeGerenciamento2_0" connectionString="metadata=res://*/db-SistemaDeGerenciamento2_0.csdl|res://*/db-SistemaDeGerenciamento2_0.ssdl|res://*/db-SistemaDeGerenciamento2_0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities" connectionString="metadata=res://*/db_SistemaDeGerenciamento2_0.csdl|res://*/db_SistemaDeGerenciamento2_0.ssdl|res://*/db_SistemaDeGerenciamento2_0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities1" connectionString="metadata=res://*/dbSistemaDeGerenciamento.csdl|res://*/dbSistemaDeGerenciamento.ssdl|res://*/dbSistemaDeGerenciamento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities2" connectionString="metadata=res://*/dbSistemaDeGerenciamento.csdl|res://*/dbSistemaDeGerenciamento.ssdl|res://*/dbSistemaDeGerenciamento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="dbSistemaDeGerenciamento2_0Entities" connectionString="metadata=res://*/dbSistemaDeGerenciamento.csdl|res://*/dbSistemaDeGerenciamento.ssdl|res://*/dbSistemaDeGerenciamento.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities3" connectionString="metadata=res://*/dbSistemaDeGerenciamento2_0.csdl|res://*/dbSistemaDeGerenciamento2_0.ssdl|res://*/dbSistemaDeGerenciamento2_0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities4" connectionString="metadata=res://*/SistemaGerenciamento2_0.csdl|res://*/SistemaGerenciamento2_0.ssdl|res://*/SistemaGerenciamento2_0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0Entities5" connectionString="metadata=res://*/SistemaDeGerenciamento2_0.csdl|res://*/SistemaDeGerenciamento2_0.ssdl|res://*/SistemaDeGerenciamento2_0.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISRAEL\SQLEXPRESS;initial catalog=SistemaDeGerenciamento2_0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
          providerName="System.Data.EntityClient" />
      <add name="SistemaDeGerenciamento2_0.Properties.Settings.SistemaDeGerenciamento2_0ConnectionString"
          connectionString="Data Source=ISRAEL\SQLEXPRESS;Initial Catalog=SistemaDeGerenciamento2_0;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>